DATABASE_URL="postgresql://tiger_bus:tiger_bus@localhost:5442/tiger_bus_dev"
TEST_DATABASE_URL="postgresql://tiger_bus:tiger_bus@localhost:5443/tiger_bus_test"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
